.training {
  background-color: #1f242d;
  width: 100%;
  height: 100%;
  padding: 5rem 0;

  &__container {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    &--title {
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;

      .separator {
        flex: 1;
        border-top: 2px solid #fff;
      }
    }
    &--content {
      width: 80%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      .training__card {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid #fff;
        border-radius: 15px;
        padding: 15px;
        margin: 0 auto;
        opacity: 0;
        animation: slideLeft 1s ease forwards;
        animation-delay: calc(0.5s * var(--i));
        .training--image {
          width: 300px;
          height: 300px;
          img {
            width: 100%;
          }
        }
        .training--title {
          width: 100%;
          height: 50px;
        }
        .training--desc {
          width: 100%;
          height: 50px;
        }
      }
      .training__card:hover{
        border:4px solid;
        box-shadow: 0 0 20px #fff;
      }
    }
  }
}
@keyframes slideTop {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1600px) {
  .training {
    &__container {
      &--content {
        .training__card{
          width: 100%;
          .training--image{
            width: 250px;
            height: 210px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .training {
    &__container {
      width: 100%;
      &--content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .training__card{
          width: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .training {
    &__container {
      &--content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .training__card{
          width: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .training {
    &__container {
      &--content {
        display: grid;
        grid-template-columns: 13rem 13rem;
        grid-template-rows: 14rem 14rem 14rem;
      }
    }
  }
}

@media screen and (max-width:540px){
    .training{
        padding: 0;
      &__container{
        &--content{
          display: grid;
          grid-template-columns: 1fr;
        }
      }
    }
}
